
@{
    ViewBag.Title = "Oops!";
}

<link href="~/Content/css/pages/page_404_error.css" rel="stylesheet" />

<!--Error Block-->
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="error-v1">
			<span class="error-v1-title">500</span>
			<span>That’s an error!</span>
			<p>Something went wrong while we were trying to return the page.</p>
			<a class="btn-u btn-bordered" href="/">Back Home</a>
		</div>
	</div>
</div>
<!--End Error Block-->
