<!--
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->

<div class="row">
    <div class="col-md-8 md-margin-bottom-20">
        <div class="headline"><h2>Mini-Derby</h2></div>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Content/Images/logo_small.png" />
            </div>
            <div class="col-sm-8">
                <h4><strong>Equestrian Bridges</strong> annual charity event, benefiting children with autism and their families</h4>
<p>
                    <ul>
                        <li>Mini Horse Racing</li>
                        <li>Live Music</li>
                        <li>Silent Auction</li>
                        <li>Food & Bar</li>
                    </ul>
                </p>
                <address>
                    <strong>Parkerman Stables</strong>
                    3100 Oakland Zion Road<br />
                    Fayetteville, AR 72703<br />
                    <a href="www.miniderby.com">www.miniderby.org</a><br />
                </address>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/Images/logo_small.png" />
    </div>
    <div class="col-sm-9">
        
        <h5>Equestrian Bridges Presents</h5>
        <h2>Mini-Derby</h2>
        <p>An annual benefit for children with autism & their families!</p>

    </div>

</div>
-->

<!--<div class="row">
    <div class="col-sm-3">
        <img src="http://www.equestrianbridges.org/images/equestrian-bridges-logo.png" alt="Equestrian Bridges">
    </div>
    <div class="col-md-9">
        <h1>Equestrian Bridges</h1>
    </div>
</div>-->
<div class="row">
    <div class="col-md-8 md-margin-bottom-20">
        <div class="headline"><h2>Equestrian Bridges</h2></div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive margin-bottom-20" src="http://www.equestrianbridges.org/images/equestrian-bridges-logo.png" alt="">
            </div>
            <div class="col-sm-8">
                <p><strong>Equestrian Bridges</strong> is a 501(c) 3 not-for-profit corporation whose primary objective is to improve the lives of children and their families for success.</p>
                <address>
                    Located at 3100 Oakland Zion Road<br />
                    Fayetteville, AR 72703<br />
                    <abbr title="phone">479-409-8980</abbr><br /> 
                    <a href="www.equestrianbridges.org">www.EquestrianBridges.org</a><br />
                </address>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="heading heading-v6 margin-bottom-20">
            <h2>Mission An Vision</h2>
        </div>
        <p>Our mission at Equestrian Bridges is to help build bridges for Children and their Families, helping them to improve the quality of their lives and increase their opportunities for success!</p>
        
        <p>By Bridges, we mean: Moving from being disconnected and not engaged to being confident and self-reliant. By improve the quality of their lives, we mean: Promoting healthy relationships both inside and outside their families. By increase their opportunities for success, we mean: Developing social skills that will help lead to an enjoyable and fulfilling life.</p>
        <p>Our Vision at Equestrian Bridges is that we change the face of Mental Health for Children and their Families with our Equine Recreational Therapy Center here in Washington County and Northwest Arkansas. We empower children and youth considered to be at risk for social, behavioral or academic delays with the tools to develop emotional, mental and physical fitness using Natural Horsemanship doing Equine Assisted Activities and Therapies.</p>
        <p>At Equestrian Bridges we believe that in order for success to be achieved, an individual must be confident and be empowered utilizing the highest standards in quality. Quality includes health and safety for horse and human, a research based curriculum, and individualized goals. The goal of this program is to empower children and youth of varying abilities using the horse to facilitate social and communication skills.</p>
        <p>The philosophy is based on research related to children with significant non-communicative behavior. We believe that in order to achieve success we must work on the child’s level, set reasonable goals, and provide motivation through encouragement and support. The Bridges team also believes that in order for learning to transfer to various settings, the goals should come from individualized plans and include teachers, therapists and parents whenever possible.</p>
        <blockquote class="hero text-right box-shadow shadow-effect-3">
            <p>“Nothing does more for the inside of a man than the outside of a horse.”</p>
            <small>Will Rogers</small>
        </blockquote>
    </div>
</div>
