@model MiniDerby.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Horses";
}

<h2>Horses</h2>

<div class="row">
    <div class="col-md-8">
        @foreach (var horse in Model.NextEvent.Horses)
        {
            @Html.Partial("_Horse", horse)
        }
    </div>
</div>