@model MiniDerby.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (Model.NextEvent != null)
{
	@section Scripts
	{
		<script type="text/javascript" src="~/Content/plugins/countdown/jquery.plugin.js"></script>
		<script type="text/javascript" src="~/Content/plugins/countdown/jquery.countdown.min.js"></script>
		<script>
			$('#countdown').countdown(
			{
				until: new Date(@Model.NextEvent.EventStartDate.Value.ToString("yyyy,MM-1,dd")),
				layout: '{d<} {dn} {dl} {d>} {hn} {hl} {mn} {ml} {sn} {sl}'
			});
		</script>
	}

	@section Countdown {
		<style>
			#countdown-container {
				display: inline-block; line-height: 1.8em; vertical-align: top;
				color: white;
			}
			.header-fixed-shrink #countdown-container {
				font-size: .7em;
				/*line-height: .8*/
			}
		</style>
		<div id="countdown-container">
			<div id="countdown"></div>
			<div>until the @Model.NextEvent.Name</div>
		</div>
	}
}

<div class="jumbotron">
    <h1>Lil' Sebastian</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <h1>LIL SEBASTIAN!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Next Event: @Model.NextEvent.EventStartDate.Value.ToShortDateString()</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
		@foreach (var horse in Model.NextEvent.Horses)
		{
			@Html.Partial("_Horse", horse)
		}
    </div>
</div>