
@{
    ViewBag.Title = "Becoming a sponsor";
}


<div class="row">
    <div class="headline"><h2>Sponsorship Opportunities</h2></div>
</div>
<h4><a href="mailto:info@equestrianbridges.com"> Email Us</a> if you have any questions!</h4>
<div class="row">
    <div class="col-md-12">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>Presenting Sponsor </h2>
            <p>$5,000</p>
        </div>
        <ul>
            <li>Logo on event t-shirt and all promotional materials</li>
            <li>Logo on all mini race horses</li>
            <li>Recognition on social media event posts</li>
            <li>Recognition on Equestrian Bridges and Mini Derby websites</li>
            <li>Presenting sponsor banners at entrance and racing arena</li>
            <li>Event t-shirts provided for team members (up to 9)</li>
            <li>Media opportunities prior to event will be made available to company representative</li>
            <li>Company promoted on radio ad, which is aired over 300 times between 4 stations (107.9, 105.7, 93.3, 103.9)</li>
            <li>Announced as presenting sponsor during live interview on Fox24 and KNWA</li>
            <li>Logo on red carpet backdrop</li>
            <li>Listed as presenting sponsor in Citiscapes ad</li>
            <li>Recognition announced from event stage</li>
            <li>2 Priority vendor tables at the event (seats 20)</li>
            <li>Table signs with company name</li>
            <li>Photos with the racing mini horses</li>
            <li>20 complimentary tickets</li>
            <li>Option to announce overall winner from the event stage</li>
            <li>Logo and sponsorship level shown on big screen throughout the event</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>People's Choice</h2>
            <p>$3,500</p>
        </div>
        <ul>
            <li>People’s Choice Tokens are $2 tokens that event attendees can purchase to place on the racing</li>
            <li>ini horse they like most. Match the People’s Choice Tokens purchased up to $3500 guaranteed.</li>
            <li>or example, if the event collects $2450 in tokens, then you will pledge $2450 to Equestrian Bridges</li>
            <li>ini Derby. If it raises over $3500 in tokens, then you will only have to pledge $3500.</li>
            <li>Sponsor will announce and present the People’s Choice Racing Mini trophy to the winner</li>
            <li>Access to the VIP area</li>
            <li>Logo on event t-shirt and all promotional materials</li>
            <li>Recognition on social media event posts</li>
            <li>Recognition on Equestrian Bridges and Mini Derby websites</li>
            <li>Option to hang company banner at event</li>
            <li>Event t-shirts provided for team members (up to 6)</li>
            <li>Logo on red carpet backdrop</li>
            <li>Recognition announced from event stage</li>
            <li>Complimentary vendor table at the event close to “The Track” (seats 10)</li>
            <li>Table sign with company name</li>
            <li>15 complimentary tickets</li>
            <li>Logo and sponsorship level shown on big screen throughout the event</li>
            <li>Company name on all printed advertising material if received by March 1st, 2016</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>ROSE SPONSOR</h2>
            <p>$2,500</p>
        </div>
        <ul>
            <li>Logo on racing mini horse and opportunity to name a racing mini horse</li>
            <li>Logo on event t-shirt and all promotional materials</li>
            <li>Recognition on social media event posts</li>
            <li>Recognition on Equestrian Bridges and Mini Derby websites</li>
            <li>Access to VIP Area</li>
            <li>Option to hang company banner at event</li>
            <li>Event t-shirts provided for team members (up to 6)</li>
            <li>Recognition announced from event stage</li>
            <li>Complimentary vendor table at the event (seats 10)</li>
            <li>Table sign with company name</li>
            <li>10 complimentary tickets</li>
            <li>Logo and sponsorship level shown on big screen throughout the event</li>
            <li>Company name on all printed advertising material if received by March 1st, 2016</li>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>PREAKNESS SPONSOR</h2>
            <p>$1,500</p>
        </div>
        <ul>
            <li>Logo on event t-shirt and all promotional materials</li>
            <li>Recognition on social media event posts</li>
            <li>Recognition on Equestrian Bridges and Mini Derby websites</li>
            <li>Access to VIP Area</li>
            <li>Event t-shirts provided for team members (up to 3)</li>
            <li>Recognition announced from event stage</li>
            <li>Complimentary vendor table at the event (seats 10)</li>
            <li>Table sign with company name</li>
            <li>6 complimentary tickets</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="heading heading-v1 margin-bottom-40">
            <h2>BELMONT SPONSOR</h2>
            <p>$500</p>
        </div>
        <ul>
            <li>Logo and sponsorship level shown on big screen throughout the event</li>
            <li>Company name on all printed advertising material if received by March 1st, 2016</li>
            <li>Logo on event t-shirt and all promotional materials</li>
            <li>Recognition on social media event posts</li>
            <li>Recognition on Equestrian Bridges and Mini Derby websites</li>
            <li>Access to VIP Area</li>
            <li>4 complimentary tickets</li>
            <li>Logo and sponsorship level shown on big screen throughout the event</li>
            <li>Company name on all printed advertising material if received by March 1st, 2016</li>
        </ul>
    </div>
</div>

